n8n-workflows/enrichment-with-connections.json
{
  "name": "SAM Prospect Enrichment - Data Approval (CONNECTED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prospect-enrichment",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "name": "Enrichment Job Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "prospect-enrichment"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nreturn [{\n  json: {\n    job_id: body.job_id,\n    workspace_id: body.workspace_id,\n    prospect_ids: body.prospect_ids,\n    supabase_url: body.supabase_url,\n    supabase_key: body.supabase_service_key,\n    brightdata_api_token: body.brightdata_api_token || 'hl_8aca120e:vokteG-4zibcy-juwrux',\n    brightdata_zone: body.brightdata_zone || 'residential'\n  }\n}];"
      },
      "name": "Parse Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "enrichment_jobs",
        "filterType": "manual",
        "matchingColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "processing"
            },
            {
              "fieldName": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Mark Job as Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prospect_approval_data",
        "returnAll": true,
        "filterType": "manual",
        "matchingColumns": "prospect_id",
        "filters": {
          "conditions": [
            {
              "keyName": "prospect_id",
              "condition": "in",
              "keyValue": "={{ $json.prospect_ids }}"
            }
          ]
        },
        "options": {
          "queryName": "id,prospect_id,name,contact"
        }
      },
      "name": "Get Prospects to Enrich",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Through Prospects",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const contact = $json.contact || {};\nconst linkedin_url = contact.linkedin_url || null;\n\nreturn [{\n  json: {\n    prospect_id: $json.prospect_id,\n    id: $json.id,\n    name: $json.name,\n    linkedin_url: linkedin_url,\n    current_contact: contact\n  }\n}];"
      },
      "name": "Extract LinkedIn URL from Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.linkedin_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check LinkedIn URL Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "enrichment_jobs",
        "filterType": "manual",
        "matchingColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "current_prospect_id",
              "fieldValue": "={{ $json.prospect_id }}"
            },
            {
              "fieldName": "current_prospect_url",
              "fieldValue": "={{ $json.linkedin_url }}"
            }
          ]
        }
      },
      "name": "Update Current Prospect Progress",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/request",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Parse Job Data').item.json.brightdata_api_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "zone",
              "value": "={{ $('Parse Job Data').item.json.brightdata_zone }}"
            },
            {
              "name": "url",
              "value": "={{ $json.linkedin_url.split('?')[0] }}"
            },
            {
              "name": "format",
              "value": "raw"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Scrape LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json;\nconst linkedinUrl = $('Extract LinkedIn URL from Contact').item.json.linkedin_url;\nconst currentContact = $('Extract LinkedIn URL from Contact').item.json.current_contact;\n\nlet email = null;\nlet phone = null;\n\nconst emailMatch = html.match(/mailto:([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/i);\nif (emailMatch && emailMatch[1]) {\n  email = emailMatch[1];\n}\n\nif (!email) {\n  const emailPattern = /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/;\n  const match = html.match(emailPattern);\n  if (match && match[1]) {\n    email = match[1];\n  }\n}\n\nconst phoneMatch = html.match(/tel:([\\d\\s()+-]+)/i);\nif (phoneMatch && phoneMatch[1]) {\n  phone = phoneMatch[1].trim();\n}\n\nif (!phone) {\n  const phonePatterns = [\n    /\\+?\\d{1,3}[\\s-]?\\(?\\d{3}\\)?[\\s-]?\\d{3}[\\s-]?\\d{4}/,\n    /\\(\\d{3}\\)\\s?\\d{3}-\\d{4}/\n  ];\n  \n  for (const pattern of phonePatterns) {\n    const match = html.match(pattern);\n    if (match && match[0]) {\n      phone = match[0].trim();\n      break;\n    }\n  }\n}\n\nconst verification_status = (email || phone) ? 'verified' : 'failed';\n\nconst updatedContact = {\n  ...currentContact,\n  linkedin_url: linkedinUrl,\n  email: email || currentContact.email || null,\n  phone: phone || currentContact.phone || null\n};\n\nreturn [{\n  json: {\n    prospect_id: $('Extract LinkedIn URL from Contact').item.json.prospect_id,\n    id: $('Extract LinkedIn URL from Contact').item.json.id,\n    contact: updatedContact,\n    verification_status: verification_status,\n    raw_html_sample: html.substring(0, 500)\n  }\n}];"
      },
      "name": "Parse LinkedIn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "prospect_approval_data",
        "filterType": "manual",
        "matchingColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "contact",
              "fieldValue": "={{ JSON.stringify($json.contact) }}"
            }
          ]
        }
      },
      "name": "Update Prospect with Enriched Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2250, 200],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enrichment_jobs SET processed_count = processed_count + 1 WHERE id = '{{ $('Parse Job Data').item.json.job_id }}'"
      },
      "name": "Increment Processed Count",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 200],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE enrichment_jobs SET failed_count = failed_count + 1 WHERE id = '{{ $('Parse Job Data').item.json.job_id }}'"
      },
      "name": "Increment Failed Count",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "enrichment_jobs",
        "filterType": "manual",
        "matchingColumns": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 300],
      "credentials": {
        "supabaseApi": "Supabase account 3"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, job_id: $('Parse Job Data').item.json.job_id, message: 'Enrichment completed' } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2850, 300]
    }
  ],
  "connections": {
    "Enrichment Job Webhook": {
      "main": [[{"node": "Parse Job Data", "type": "main", "index": 0}]]
    },
    "Parse Job Data": {
      "main": [[{"node": "Mark Job as Processing", "type": "main", "index": 0}]]
    },
    "Mark Job as Processing": {
      "main": [[{"node": "Get Prospects to Enrich", "type": "main", "index": 0}]]
    },
    "Get Prospects to Enrich": {
      "main": [[{"node": "Loop Through Prospects", "type": "main", "index": 0}]]
    },
    "Loop Through Prospects": {
      "main": [
        [{"node": "Extract LinkedIn URL from Contact", "type": "main", "index": 0}],
        [{"node": "Mark Job Complete", "type": "main", "index": 0}]
      ]
    },
    "Extract LinkedIn URL from Contact": {
      "main": [[{"node": "Check LinkedIn URL Exists", "type": "main", "index": 0}]]
    },
    "Check LinkedIn URL Exists": {
      "main": [
        [{"node": "Update Current Prospect Progress", "type": "main", "index": 0}],
        [{"node": "Increment Failed Count", "type": "main", "index": 0}]
      ]
    },
    "Update Current Prospect Progress": {
      "main": [[{"node": "Scrape LinkedIn Profile", "type": "main", "index": 0}]]
    },
    "Scrape LinkedIn Profile": {
      "main": [[{"node": "Parse LinkedIn Data", "type": "main", "index": 0}]]
    },
    "Parse LinkedIn Data": {
      "main": [[{"node": "Update Prospect with Enriched Data", "type": "main", "index": 0}]]
    },
    "Update Prospect with Enriched Data": {
      "main": [[{"node": "Increment Processed Count", "type": "main", "index": 0}]]
    },
    "Increment Processed Count": {
      "main": [[{"node": "Loop Through Prospects", "type": "main", "index": 0}]]
    },
    "Increment Failed Count": {
      "main": [[{"node": "Loop Through Prospects", "type": "main", "index": 0}]]
    },
    "Mark Job Complete": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
