n8n-workflows/linkedin-commenting-supabase-unipile.json
{
  "name": "LinkedIn Auto-Commenting (Supabase + Unipile - $0/month)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-scrape-posts",
      "name": "Schedule: Scrape Posts (Daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_profiles_to_scrape('{{ $env.WORKSPACE_ID }}')",
        "options": {}
      },
      "id": "get-profiles-to-scrape",
      "name": "Supabase: Get Profiles to Scrape",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "loop-profiles",
      "name": "Loop: For Each Profile",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.UNIPILE_DSN }}/api/v1/users/{{ $json.vanity_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $env.UNIPILE_ACCOUNT_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "lookup-linkedin-profile",
      "name": "Unipile: Lookup LinkedIn Profile (Legacy Endpoint)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "unipile_api_key",
          "name": "Unipile API Key"
        }
      },
      "notes": "CRITICAL: Use legacy endpoint /api/v1/users/{vanity}\nDO NOT use /api/v1/users/profile?identifier= (returns wrong profiles)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.UNIPILE_DSN }}/api/v1/users/{{ $json.provider_id }}/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $env.UNIPILE_ACCOUNT_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-posts-from-profile",
      "name": "Unipile: Fetch Posts from Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "unipile_api_key",
          "name": "Unipile API Key"
        }
      },
      "notes": "Returns 100 posts from profile\nFREE with Unipile (no Apify needed!)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split-posts",
      "name": "Split: Individual Posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM linkedin_posts_discovered WHERE workspace_id = '{{ $env.WORKSPACE_ID }}' AND social_id = '{{ $json.social_id }}'",
        "options": {}
      },
      "id": "check-post-exists",
      "name": "Supabase: Check if Post Exists (Duplicate Prevention)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "post-not-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-post-not-exists",
      "name": "If: Post Doesn't Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO linkedin_posts_discovered (\n  workspace_id,\n  monitor_id,\n  social_id,\n  share_url,\n  post_content,\n  author_name,\n  author_headline,\n  post_date,\n  engagement_metrics,\n  status\n) VALUES (\n  '{{ $env.WORKSPACE_ID }}',\n  '{{ $node[\"Loop: For Each Profile\"].json.id }}',\n  '{{ $json.social_id }}',\n  '{{ $json.share_url }}',\n  $${{ $json.text }}$$,\n  '{{ $json.author.first_name }} {{ $json.author.last_name }}',\n  $${{ $json.author.headline }}$$,\n  '{{ $json.date }}',\n  jsonb_build_object('comments', {{ $json.comment_counter || 0 }}, 'reactions', {{ $json.reaction_counter || 0 }}),\n  'discovered'\n)",
        "options": {}
      },
      "id": "save-post-to-supabase",
      "name": "Supabase: Save New Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2000, 220],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE linkedin_post_monitors SET updated_at = NOW() WHERE id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "update-profile-scraped-timestamp",
      "name": "Supabase: Update Profile Scraped Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2220, 220],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "loop-back-profiles",
      "name": "Loop Back: Next Profile",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 380]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 73
            }
          ]
        }
      },
      "id": "schedule-comment-on-posts",
      "name": "Schedule: Comment on Posts (Every 73 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_posts_needing_comments('{{ $env.WORKSPACE_ID }}') LIMIT 1",
        "options": {}
      },
      "id": "get-post-to-comment",
      "name": "Supabase: Get Post Needing Comment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 700],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM linkedin_brand_guidelines WHERE workspace_id = '{{ $env.WORKSPACE_ID }}' AND is_active = true LIMIT 1",
        "options": {}
      },
      "id": "get-brand-guidelines",
      "name": "Supabase: Get Brand Guidelines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 700],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $node['Supabase: Get Brand Guidelines'].json.system_prompt }}"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "message": "=**Original LinkedIn Post:**\n{{ $node['Supabase: Get Post Needing Comment'].json.post_text }}\n\n**Your Tone of Voice Guidelines:**\n{{ $node['Supabase: Get Brand Guidelines'].json.tone_of_voice }}\n\n{{ $node['Supabase: Get Brand Guidelines'].json.writing_style }}\n\n{{ $node['Supabase: Get Brand Guidelines'].json.dos_and_donts }}\n\n**Comment Framework:**\n{{ $node['Supabase: Get Brand Guidelines'].json.comment_framework }}\n\n**Rules:**\n- Maximum {{ $node['Supabase: Get Brand Guidelines'].json.max_characters }} characters\n- Sound natural and human\n- No emojis, hashtags, semicolons, or em-dashes\n- Avoid phrases like \"game changer\" or \"here's the kicker\"\n- Follow ACA+I framework: Acknowledge, Add nuance, I-statement, Question\n\nWrite a LinkedIn comment reply now:"
            }
          ]
        },
        "model": "anthropic/claude-3.5-sonnet",
        "temperature": 0.8
      },
      "id": "generate-ai-comment",
      "name": "AI: Generate Comment (OpenRouter Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [900, 700],
      "credentials": {
        "openRouterApi": {
          "id": "openrouter_api",
          "name": "OpenRouter API"
        }
      },
      "notes": "Uses Claude 3.5 Sonnet via OpenRouter\nCost: ~$0.003 per comment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.UNIPILE_DSN }}/api/v1/posts/{{ $node['Supabase: Get Post Needing Comment'].json.social_id }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_id\": \"{{ $env.UNIPILE_ACCOUNT_ID }}\",\n  \"text\": {{ $json.message.content | json }}\n}",
        "options": {}
      },
      "id": "post-comment-via-unipile",
      "name": "Unipile: Post Comment to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "unipile_api_key",
          "name": "Unipile API Key"
        }
      },
      "notes": "Posts comment directly to LinkedIn\nFREE with Unipile API"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE linkedin_posts_discovered SET\n  status = 'commented',\n  updated_at = NOW()\nWHERE id = '{{ $node['Supabase: Get Post Needing Comment'].json.id }}'",
        "options": {}
      },
      "id": "update-post-status",
      "name": "Supabase: Update Post Status to Commented",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 700],
      "credentials": {
        "postgres": {
          "id": "supabase_connection",
          "name": "Supabase PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Scrape Posts (Daily)": {
      "main": [[{ "node": "Supabase: Get Profiles to Scrape", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Profiles to Scrape": {
      "main": [[{ "node": "Loop: For Each Profile", "type": "main", "index": 0 }]]
    },
    "Loop: For Each Profile": {
      "main": [[{ "node": "Unipile: Lookup LinkedIn Profile (Legacy Endpoint)", "type": "main", "index": 0 }]]
    },
    "Unipile: Lookup LinkedIn Profile (Legacy Endpoint)": {
      "main": [[{ "node": "Unipile: Fetch Posts from Profile", "type": "main", "index": 0 }]]
    },
    "Unipile: Fetch Posts from Profile": {
      "main": [[{ "node": "Split: Individual Posts", "type": "main", "index": 0 }]]
    },
    "Split: Individual Posts": {
      "main": [[{ "node": "Supabase: Check if Post Exists (Duplicate Prevention)", "type": "main", "index": 0 }]]
    },
    "Supabase: Check if Post Exists (Duplicate Prevention)": {
      "main": [[{ "node": "If: Post Doesn't Exist", "type": "main", "index": 0 }]]
    },
    "If: Post Doesn't Exist": {
      "main": [
        [{ "node": "Supabase: Save New Post", "type": "main", "index": 0 }],
        [{ "node": "Loop Back: Next Profile", "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Save New Post": {
      "main": [[{ "node": "Supabase: Update Profile Scraped Timestamp", "type": "main", "index": 0 }]]
    },
    "Supabase: Update Profile Scraped Timestamp": {
      "main": [[{ "node": "Loop: For Each Profile", "type": "main", "index": 0 }]]
    },
    "Loop Back: Next Profile": {
      "main": [[{ "node": "Loop: For Each Profile", "type": "main", "index": 0 }]]
    },
    "Schedule: Comment on Posts (Every 73 min)": {
      "main": [[{ "node": "Supabase: Get Post Needing Comment", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Post Needing Comment": {
      "main": [[{ "node": "Supabase: Get Brand Guidelines", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Brand Guidelines": {
      "main": [[{ "node": "AI: Generate Comment (OpenRouter Claude)", "type": "main", "index": 0 }]]
    },
    "AI: Generate Comment (OpenRouter Claude)": {
      "main": [[{ "node": "Unipile: Post Comment to LinkedIn", "type": "main", "index": 0 }]]
    },
    "Unipile: Post Comment to LinkedIn": {
      "main": [[{ "node": "Supabase: Update Post Status to Commented", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-23T00:00:00.000Z",
  "versionId": "1"
}
