n8n-workflows/sam-linkedin-campaign-v2.json
{
  "name": "SAM LinkedIn Campaign Execution v2",
  "nodes": [
    {
      "parameters": {
        "path": "sam-campaign-execute",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Campaign Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sam-campaign-v2"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-prospects",
      "name": "Split Prospects",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract LinkedIn username from URL\nconst linkedinUrl = $input.item.json.linkedin_url;\nconst username = linkedinUrl.split('/in/')[1]?.split('?')[0]?.replace('/', '');\n\nif (!username) {\n  throw new Error('Invalid LinkedIn URL: ' + linkedinUrl);\n}\n\nreturn {\n  ...items[0].json,\n  linkedin_username: username\n};"
      },
      "id": "extract-username",
      "name": "Extract LinkedIn Username",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{$env.UNIPILE_DSN}}/api/v1/users/{{$json.linkedin_username}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{$json.unipileAccountId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.UNIPILE_API_KEY}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-linkedin-profile",
      "name": "Get LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "// Personalize connection request message\nconst message = $input.first().json.messages.connection_request;\nconst prospect = $input.first().json;\n\nconst personalized = message\n  .replace(/\\{first_name\\}/gi, prospect.first_name || '')\n  .replace(/\\{last_name\\}/gi, prospect.last_name || '')\n  .replace(/\\{company_name\\}/gi, prospect.company_name || '')\n  .replace(/\\{title\\}/gi, prospect.title || '');\n\n// Truncate to 300 characters (LinkedIn limit)\nconst truncated = personalized.substring(0, 300);\n\nreturn {\n  ...items[0].json,\n  personalizedMessage: truncated,\n  provider_id: $input.first().json.provider_id\n};"
      },
      "id": "personalize-message",
      "name": "Personalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.UNIPILE_DSN}}/api/v1/users/invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.UNIPILE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"provider_id\": \"{{$json.provider_id}}\",\n  \"account_id\": \"{{$json.unipileAccountId}}\",\n  \"message\": \"{{$json.personalizedMessage}}\"\n}",
        "options": {}
      },
      "id": "send-connection-request",
      "name": "Send Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.meet-sam.com/api/campaigns/update-prospect-status/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"connection_requested\",\n  \"contacted_at\": \"{{new Date().toISOString()}}\",\n  \"personalization_data\": {\n    \"provider_id\": \"{{$json.provider_id}}\",\n    \"unipile_invitation_id\": \"{{$node['Send Connection Request'].json.invitation_id}}\",\n    \"n8n_execution_id\": \"{{$execution.id}}\"\n  }\n}",
        "options": {}
      },
      "id": "update-prospect-status",
      "name": "Update Prospect Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "amount": "={{Math.floor(Math.random() * 24) + 24}}",
        "unit": "hours"
      },
      "id": "wait-for-acceptance",
      "name": "Wait 24-48 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 300],
      "webhookId": "wait-acceptance"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://app.meet-sam.com/api/campaigns/check-connection-status/{{$json.id}}",
        "options": {}
      },
      "id": "check-connection-status",
      "name": "Check Connection Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.accepted}}",
              "value2": true
            }
          ]
        }
      },
      "id": "connection-accepted",
      "name": "Connection Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.meet-sam.com/api/campaigns/update-prospect-status/{{$json.id}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"connection_not_accepted\",\n  \"personalization_data\": {\n    \"connection_checked_at\": \"{{new Date().toISOString()}}\"\n  }\n}",
        "options": {}
      },
      "id": "mark-not-accepted",
      "name": "Mark Not Accepted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 450]
    },
    {
      "parameters": {
        "functionCode": "// Personalize follow-up 1 message\nconst message = $input.first().json.messages.follow_up_1;\nconst prospect = $input.first().json;\n\nif (!message) {\n  throw new Error('No follow-up 1 message configured');\n}\n\nconst personalized = message\n  .replace(/\\{first_name\\}/gi, prospect.first_name || '')\n  .replace(/\\{last_name\\}/gi, prospect.last_name || '')\n  .replace(/\\{company_name\\}/gi, prospect.company_name || '')\n  .replace(/\\{title\\}/gi, prospect.title || '');\n\nreturn {\n  ...items[0].json,\n  followUpMessage: personalized\n};"
      },
      "id": "personalize-fu1",
      "name": "Personalize FU1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.UNIPILE_DSN}}/api/v1/messaging/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.UNIPILE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_id\": \"{{$json.unipileAccountId}}\",\n  \"provider_id\": \"{{$json.provider_id}}\",\n  \"text\": \"{{$json.followUpMessage}}\"\n}",
        "options": {}
      },
      "id": "send-fu1",
      "name": "Send Follow-Up 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2660, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.meet-sam.com/api/campaigns/update-prospect-status/{{$json.id}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"follow_up_1_sent\",\n  \"personalization_data\": {\n    \"follow_up_1_sent_at\": \"{{new Date().toISOString()}}\"\n  }\n}",
        "options": {}
      },
      "id": "update-fu1-status",
      "name": "Update FU1 Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2880, 150]
    }
  ],
  "connections": {
    "Campaign Webhook": {
      "main": [
        [
          {
            "node": "Split Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Prospects": {
      "main": [
        [
          {
            "node": "Extract LinkedIn Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn Username": {
      "main": [
        [
          {
            "node": "Get LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Personalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize Message": {
      "main": [
        [
          {
            "node": "Send Connection Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Connection Request": {
      "main": [
        [
          {
            "node": "Update Prospect Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prospect Status": {
      "main": [
        [
          {
            "node": "Wait 24-48 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24-48 Hours": {
      "main": [
        [
          {
            "node": "Check Connection Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection Status": {
      "main": [
        [
          {
            "node": "Connection Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connection Accepted?": {
      "main": [
        [
          {
            "node": "Personalize FU1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Not Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize FU1": {
      "main": [
        [
          {
            "node": "Send Follow-Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up 1": {
      "main": [
        [
          {
            "node": "Update FU1 Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "v2-correct-endpoints"
}
