n8n-workflows/workflow-1-sam-to-crm.json
{
  "name": "CRM Sync: SAM → CRM",
  "nodes": [
    {
      "parameters": {
        "path": "crm-sync-to-crm",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "crm-sync-to-crm"
    },
    {
      "parameters": {
        "url": "=https://latxadqrvrrrcvkktrog.supabase.co/rest/v1/crm_connections",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "workspace_id",
              "value": "=eq.{{ $json.body.workspace_id }}"
            },
            {
              "name": "crm_type",
              "value": "=eq.{{ $json.body.crm_type }}"
            },
            {
              "name": "status",
              "value": "=eq.active"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhdHhhZHFydnJycmN2a2t0cm9nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjY5OTk4NiwiZXhwIjoyMDY4Mjc1OTg2fQ.nCcqwHSwGtqatcMmb1uanGxsL4DbD8woPwezMAE41OQ"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxhdHhhZHFydnJycmN2a2t0cm9nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjY5OTk4NiwiZXhwIjoyMDY4Mjc1OTg2fQ.nCcqwHSwGtqatcMmb1uanGxsL4DbD8woPwezMAE41OQ"
            }
          ]
        },
        "options": {}
      },
      "id": "get-connection",
      "name": "Get CRM Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[0].crm_type }}",
                    "rightValue": "hubspot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hubspot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[0].crm_type }}",
                    "rightValue": "activecampaign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "activecampaign"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[0].crm_type }}",
                    "rightValue": "airtable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "airtable"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-crm",
      "name": "Switch CRM Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get CRM Connection').item.json[0].access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"properties\": {\n    \"firstname\": $('Webhook').item.json.body.contact_data.firstName,\n    \"lastname\": $('Webhook').item.json.body.contact_data.lastName,\n    \"email\": $('Webhook').item.json.body.contact_data.email,\n    \"phone\": $('Webhook').item.json.body.contact_data.phone,\n    \"company\": $('Webhook').item.json.body.contact_data.company,\n    \"jobtitle\": $('Webhook').item.json.body.contact_data.jobTitle\n  }\n} }}",
        "options": {}
      },
      "id": "hubspot-create",
      "name": "HubSpot Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get CRM Connection').item.json[0].crm_account_id }}/api/3/contact/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $('Get CRM Connection').item.json[0].access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contact\": {\n    \"email\": $('Webhook').item.json.body.contact_data.email,\n    \"firstName\": $('Webhook').item.json.body.contact_data.firstName,\n    \"lastName\": $('Webhook').item.json.body.contact_data.lastName,\n    \"phone\": $('Webhook').item.json.body.contact_data.phone\n  }\n} }}",
        "options": {}
      },
      "id": "ac-create",
      "name": "ActiveCampaign Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $('Get CRM Connection').item.json[0].crm_account_id }}/Contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get CRM Connection').item.json[0].access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"fields\": {\n    \"Name\": $('Webhook').item.json.body.contact_data.firstName + ' ' + $('Webhook').item.json.body.contact_data.lastName,\n    \"First Name\": $('Webhook').item.json.body.contact_data.firstName,\n    \"Last Name\": $('Webhook').item.json.body.contact_data.lastName,\n    \"Email\": $('Webhook').item.json.body.contact_data.email,\n    \"Phone\": $('Webhook').item.json.body.contact_data.phone,\n    \"Company\": $('Webhook').item.json.body.contact_data.company,\n    \"Job Title\": $('Webhook').item.json.body.contact_data.jobTitle\n  }\n} }}",
        "options": {}
      },
      "id": "airtable-create",
      "name": "Airtable Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.meet-sam.com/api/crm/webhook/sync-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "=45015cc55ac036e78cc7489417c30c364326c690dcf3eea8a7c8849b7276a17b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"workspace_id\": $('Webhook').item.json.body.workspace_id,\n  \"entity_type\": \"contact\",\n  \"entity_id\": $('Webhook').item.json.body.sam_contact_id || \"unknown\",\n  \"crm_type\": $('Webhook').item.json.body.crm_type,\n  \"status\": \"success\",\n  \"crm_record_id\": $json.id,\n  \"synced_at\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "callback-sam",
      "name": "Callback SAM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Contact synced to CRM\",\n  \"crm_record_id\": $('Callback SAM').item.json.id || $json.id\n} }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get CRM Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CRM Connection": {
      "main": [
        [
          {
            "node": "Switch CRM Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch CRM Type": {
      "main": [
        [
          {
            "node": "HubSpot Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Create": {
      "main": [
        [
          {
            "node": "Callback SAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign Create": {
      "main": [
        [
          {
            "node": "Callback SAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Create": {
      "main": [
        [
          {
            "node": "Callback SAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback SAM": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
