temp/n8n-workflow-updated.json
{
  "createdAt": "2025-11-02T08:51:33.895Z",
  "updatedAt": "2025-11-02T08:55:18.884Z",
  "id": "pWxsl8D5irntaRwR",
  "name": "SAM Campaign Execution - FIXED (ACTIVE)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-execute-fixed",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Campaign Execute Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "1600e2af-7318-4df7-abb3-f1ee1d072cf5"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate campaign data\nconst webhookData = $input.all()[0].json;\n\n// CRITICAL FIX: Get unipileAccountId from top level (new format) or nested path (old format)\nconst unipileAccountId = webhookData.unipileAccountId ||\n  webhookData.workspace_config?.integration_config?.linkedin_accounts?.[0]?.unipile_account_id;\n\nif (!unipileAccountId) {\n  throw new Error('Missing unipileAccountId in webhook data. Check payload format.');\n}\n\nreturn [{\n  json: {\n    campaign_id: webhookData.campaign_id || webhookData.campaignId,\n    workspace_id: webhookData.workspace_id || webhookData.workspaceId,\n    prospects: webhookData.prospects || webhookData.campaign_data?.prospects || [],\n    messages: webhookData.campaign_data?.message_templates || {},\n    unipile_account_id: unipileAccountId,\n    total_prospects: (webhookData.prospects || webhookData.campaign_data?.prospects || []).length\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Campaign Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-prospects",
      "name": "Process Each Prospect",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.UNIPILE_DSN }}/api/v1/users/{{ $json.linkedin_url.split('/in/')[1].replace('/', '') }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $node['Extract Campaign Data'].json.unipile_account_id }}"
            },
            {
              "name": "provider",
              "value": "LINKEDIN"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.UNIPILE_API_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "lookup-profile",
      "name": "Get LinkedIn Profile ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.UNIPILE_DSN }}/api/v1/users/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.UNIPILE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_id\": \"{{ $node['Extract Campaign Data'].json.unipile_account_id }}\",\n  \"user_id\": \"{{ $node['Get LinkedIn Profile ID'].json.object?.id || $node['Get LinkedIn Profile ID'].json.id }}\",\n  \"message\": \"{{ $node['Extract Campaign Data'].json.messages.connection_request.replace('{first_name}', $json.first_name).replace('{company_name}', $json.company).replace('{title}', $json.job_title) }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-cr",
      "name": "Send Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.meet-sam.com/api/campaigns/update-contacted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaignId\": \"{{ $node['Extract Campaign Data'].json.campaign_id }}\",\n  \"prospectId\": \"{{ $json.id }}\",\n  \"status\": \"connection_requested\",\n  \"unipileMessageId\": \"{{ $node['Send Connection Request'].json.object?.id || $node['Send Connection Request'].json.id || 'untracked_' + Date.now() }}\",\n  \"contactedAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Prospect Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}",
        "unit": "minutes"
      },
      "id": "delay",
      "name": "Random Delay (2-5 min)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1568,
        304
      ],
      "webhookId": "e97d1203-89ef-483a-bdfc-d6108a706e17"
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        304
      ]
    }
  ],
  "connections": {
    "Campaign Execute Webhook": {
      "main": [
        [
          {
            "node": "Extract Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Campaign Data": {
      "main": [
        [
          {
            "node": "Process Each Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Prospect": {
      "main": [
        [
          {
            "node": "Get LinkedIn Profile ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Profile ID": {
      "main": [
        [
          {
            "node": "Send Connection Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Connection Request": {
      "main": [
        [
          {
            "node": "Update Prospect Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prospect Status": {
      "main": [
        [
          {
            "node": "Random Delay (2-5 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (2-5 min)": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Process Each Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "618ce20b-5f83-4067-b431-a317390305c6",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-02T08:51:33.899Z",
      "updatedAt": "2025-11-02T08:51:33.899Z",
      "role": "workflow:owner",
      "workflowId": "pWxsl8D5irntaRwR",
      "projectId": "E9Xq0Sqn9jUGEbhJ",
      "project": {
        "createdAt": "2025-07-12T06:02:59.801Z",
        "updatedAt": "2025-07-12T06:08:41.888Z",
        "id": "E9Xq0Sqn9jUGEbhJ",
        "name": "Thorsten Linz <tl@innovareai.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-12T06:02:59.801Z",
            "updatedAt": "2025-07-12T06:02:59.801Z",
            "role": "project:personalOwner",
            "userId": "9c8841b7-d88f-4eac-afb9-77f989fc9916",
            "projectId": "E9Xq0Sqn9jUGEbhJ",
            "user": {
              "createdAt": "2025-07-12T06:02:58.862Z",
              "updatedAt": "2025-11-07T04:59:45.000Z",
              "id": "9c8841b7-d88f-4eac-afb9-77f989fc9916",
              "email": "tl@innovareai.com",
              "firstName": "Thorsten",
              "lastName": "Linz",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-12T06:09:06.052Z",
                "personalization_survey_n8n_version": "1.101.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "JHIOAOorkZSRmpA8",
                "userActivatedAt": 1752382374010,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1754499132724
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}